body, .app-sidebar ul li a {
  color: #000;
}
body *::-webkit-scrollbar {
  height: 12px;
}
textarea {
  width: 100%;
  resize: none;
  overflow: auto;
}
.bg-white {
  background: #fff;
}
.bolder {
  font-weight: 700;
}
.side-menu__item i.side-menu__icon {
  font-size: 17px;
}
div.dataTables_wrapper div.dataTables_processing {
    border: 1px solid #ff5b6b;
    background: #ff5b6b;
    color: #fff;
}
input[type="color"] {
  height: 38px;
}
.dropdown-menu-shortcut {
    min-width: 22rem!important;
}
.div-scroll {
  height: 80vh;
  overflow: hidden auto;
}
#sender_id {
  text-transform: uppercase;
}
.popover {
  padding: 5px 10px;
}
.popover-header {
  font-weight: 700;
  color: #fff;
  background-color: #ff685c;
}
.popover-body {
    padding: 0;
}
.popover-body .table {
    margin-bottom: 0rem;
}
.progress {
  background-color: #ff5b6b;
}
.bg-green {
    color: #fff !important;
}
.connected {
  background: #10ff1082!important;
}
.not-connected {
  background: #ff101082!important;
}
.return-account {
  background: #ff5b6b;
  color: #fff!important;
}
.tabs-menu1 {
  margin: 0 0.75rem;
}
.breadcrumb-arrow {
    background-color: #ffffff;
    width: 100%;
}
.nav-pills .nav-link:hover {
    color: #fff!important;
    background-color: #df594f;
}
.w-100 {
  width: 100%;
  display: inline-block!important;
}
.text-gray {
  color: #333;
}
.font-large {
  font-size: 16px;
  font-weight: bold;
}
.hr-line {
  border-bottom: 1px solid #efe4e4;
  margin: 0px 0px 15px;
}
.app-content .side-app {
  margin-bottom: 75px;
}
._mCS_1 .mCSB_dragger .mCSB_dragger_bar{ background-color: #ff685c; }
.mCSB_dragger:hover{ background-color: #ff685c; }

#mCSB_1_scrollbar_vertical .mCSB_dragger{ height: 100px; }

.mCSB_outside + .mCSB_scrollTools {
  right: -17px;
}
.hidden {
  display: none;
}
.changeColour {
  color: red;
}
.remove-img-div {
  position: absolute;
  top: 5px;
  left: 15px;
}
.not-allowed {
  color: #3300ff;
  font-weight: 600;
}
.invalid-message {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 87.5%;
    color: #ec2d38;
}
#form-submit-loading
{
  display: none;
}
#form-submit-loading.show
{
  display: block;
    position: fixed;
    z-index: 50000;
    background: url(https://www.nextgenhandyman.co.uk/images/loading.gif) no-repeat 50% 50% rgba(230, 159, 155, 0.27);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}
.tabs-menu1 ul li a {
  line-height: 50px;
}
.table-top-margin {
  margin-top: 15px;
}
.table-body-200 tbody {
  display:block;
  max-height:200px;
  overflow:auto;
}
.table-body-400 tbody {
  display:block;
  max-height:400px;
  overflow:auto;
}
.table-body-200 thead, .table-body-200 tbody tr, .table-body-400 thead, .table-body-400 tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;/* even columns width , fix width of table too*/
}
.no-pointer {
  cursor: default!important;
}
.pointer {
  cursor: pointer;
}
.table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  font-weight: 600;
  -webkit-transition: all .3s ease;
  color: #000;
}
.zero-margin {
  margin:0px!important;
}
.footer {
  position: sticky;
  bottom: 0px;
  width: 100%;
}
.not-allowed {
  cursor: not-allowed;
}
.panel-title .list-group-item.active {
  color: #000;
  font-weight: 700;
}
.header-credit {
  background: #ff5b6b;
  min-width: 100px;
}
.header-credit .text-dark {
  color: #FFF!important;
}
.divider {
  border-bottom: 1px solid #dadada;
  margin: 13px 0;
}
.form-control, .custom-file-label {
  color: #000000;
  border: 1px solid #9f9f9f;
}
.card-title {
  font-weight: 800;
}
.form-footer {
  margin-top: 1rem;
}
.btn-fixed {
  min-width: 150px;
}
.custom-file {
  margin-bottom: 15px;
}
.dropdown-item.active, .dropdown-item:active {
  color: #ff685c;
}
.custom-control-label {
  cursor: pointer;
}
.tabs-menu ul li .active {
  background: #ff685c;
  color: #fff;
  border-radius: 0px;
}
.tabs-menu ul li a {
  padding: 12px 15px 12px 15px;
}
.show-error{
  width: 100%;
  margin-top: 0.25rem;
  font-size: 87.5%;
  color: #ec2d38;
}
.custom-control-label:before {
  border: 1px solid #fe5b6c;
}
.green{
  color: green;
}

.red{
  color: red;
}
.scroll-div {
  max-height: 400px; 
  overflow: scroll;
}

@media (min-width: 992px)
{
  .modal-lg-xl {
      max-width: 990px;
  }
}
@media(max-width: 767px)
{
  .list-group {
      margin-bottom: 15px;
  }
  .form-control {
      min-width: 120px;
  }
  .split-line {
      white-space: pre-line!important;
      min-width: 350px;
  }
  .image-mob {
      min-width: 35px;
  }
}
@media (max-width: 480px)
{
  .tabs-menu1 ul li {
      width: auto;
      margin: 0;
  }
}


